.footer {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 7px;
}

.footer-left {
  margin-left: 10px;
}
.footer-right {
  margin-right: 10px;
}

.ficon {
  width: 20px;
  height: 20px;
  margin: 5px;
}

@media screen and (max-width: 800px) {
  .footer-right {
    display: flex;
    flex-direction: row;
  }
  .footer-position {
    position: sticky;
    bottom: 0;
  }
}
