.question-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 38rem;
}

div.card-header {
  background-color: #466a9b;
  color: #ffffff;
  font-style: italic;
}

.card-title.h5 {
  margin-top: 60px;
}

p.card-text {
  margin-top: 0px;
  padding: 90px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #212529;
  border-radius: 6px;
}

.question-number {
  margin-bottom: 100px;
}

.answer-button {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

.true {
  margin-right: 20px;
}

.false {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .question-card {
    width: 22rem;
  }
  p.card-text {
    margin-top: 30px;
    padding: 50px 10px;
  }
  .question-number {
    margin-bottom: 50px;
  }
}
